RewriteEngine On
RewriteBase /pizzamyway/

#RewriteCond %{HTTP_HOST} ^pizzamyway\.ro
#RewriteRule ^(.*)$ http://www.pizzamyway.ro/$1 [R=301,L]


RewriteRule ^despre-pizzamyway$ despre.php  [NC,L]
RewriteRule ^pizza-craiova$ pizza.php  [NC,L]
RewriteRule ^salate$ salate.php  [NC,L]
RewriteRule ^paste$ paste.php  [NC,L]
RewriteRule ^sandwich$ sandwich.php  [NC,L]
RewriteRule ^platouri$ platouri.php  [NC,L]
RewriteRule ^contact$ contact.php  [NC,L]
RewriteRule ^catering-myway-craiova$ catering.php  [NC,L]
RewriteRule ^desert$ desert.php  [NC,L]
RewriteRule ^preparate-de-pui$ preparate-pui.php  [NC,L]
RewriteRule ^preparate-de-curcan$ preparate-curcan.php  [NC,L]
RewriteRule ^preparate-la-cuptor$ preparate-cuptor.php  [NC,L]
RewriteRule ^garnituri$ garnituri.php  [NC,L]
RewriteRule ^bauturi$ bauturi.php  [NC,L]


Redirect 301 /partners.html http://www.pizzamyway.ro
Redirect 301 /pizzaquattrostagioniton.php /pizza-craiova
Redirect 301 /pizzasalami.php /pizza-craiova
Redirect 301 /pizzadesert.php /pizza-craiova
Redirect 301 /pizzaquattrostagionielite.php /pizza-craiova
Redirect 301 /pizzacapriciosa.php /pizza-craiova
Redirect 301 /pizzaolteneasca.php /pizza-craiova
Redirect 301 /pizzamexicana.php /pizza-craiova
Redirect 301 /pizzatono.php /pizza-craiova
Redirect 301 /pizzaprosciuttocrudo.php /pizza-craiova
Redirect 301 /pizzaprovinciale.php /pizza-craiova
Redirect 301 /pizzanapolitana.php /pizza-craiova
Redirect 301 /pizzaparty.php /pizza-craiova
Redirect 301 /pizzadeliciosaifungi.php /pizza-craiova
Redirect 301 /pizzadeliciosa.php /pizza-craiova
Redirect 301 /pizzamargherita.php /pizza-craiova
Redirect 301 /pizzasinatra.php /pizza-craiova
Redirect 301 /pizzachicken.php /pizza-craiova
Redirect 301 /pizzacalzone.php /pizza-craiova
Redirect 301 /pizzafamily.php /pizza-craiova
Redirect 301 /pizzahot.php /pizza-craiova
Redirect 301 /pizzatraditionala.php /pizza-craiova
Redirect 301 /pizzaquattroformaggi.php /pizza-craiova
Redirect 301 /pizzavegetariana.php /pizza-craiova
Redirect 301 /pizzaromana.php /pizza-craiova
Redirect 301 /pizzaparma.php /pizza-craiova
Redirect 301 /pizzaelite.php /pizza-craiova
Redirect 301 /pizzacarbonara.php /pizza-craiova
Redirect 301 /pizzamyway.php /pizza-craiova
Redirect 301 /pizzataraneasca.php /pizza-craiova
Redirect 301 /pizzaquattrostagioni.php /pizza-craiova
Redirect 301 /promotii.php /
Redirect 301 /pizzaquattroformaggi_prosciutto.php /pizza-craiova
Redirect 301 /pizzafumoso.php /pizza-craiova
Redirect 301 /pizzacusomon.php /pizza-craiova

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
