{% extends 'base.html' %}
{% block title %}Despre Noi - Pizza MyWay Craiova{% endblock %}
{% block content %}
<section class="about-us">
    <div class="container">
        <h3 class="title">Despre noi</h3>
        <div class="separator"></div>
        <div class="col-md-12">
            <p>Pizzeria My Way a aparut pe piata craioveana in dorinta de a oferi produse de calitate superioara, obtinute din ingrediente mereu proaspete.</p>
            <p>Va asteptam sa ne treceti pragul sau sa comandati telefonic, produsele noastre fiind pregatite special pentru dumneavoastra, la cele mai inalte standarde de calitate.</p>
        </div>
    </div>
</section>
{% endblock %}
