{% extends 'base.html' %}
{% block title %}Contact - Pizza MyWay Craiova{% endblock %}
{% block content %}
<section class="contact-us">
    <div class="container">
        <h3 class="title">Contact</h3>
        <div class="separator"></div>
        <div class="col-md-6">
            <p><i class="fa fa-map-marker"></i> Craiova, Str. Imparatul Traian Nr. 55</p>
            <p><i class="fa fa-phone"></i> 0351.176.968</p>
            <p><i class="fa fa-phone"></i> 0741.588.985</p>
            <p><i class="fa fa-envelope"></i> office@pizzamyway.ro</p>
        </div>
        <div class="col-md-6">
            <!-- Map or form could go here -->
        </div>
    </div>
</section>
{% endblock %}
