{% extends 'base.html' %}

{% block header_content %}
<div class="text-head">
    <p>Pizza 4+1 Gratis (32cm)<br/>2 Pizza + 1 doza Coca cola<br/>Livram si in comunele limitrofe, transport contra cost!<br/>  Comanda minima este de 35 lei<br/> Ofertele nu se cumuleaza!</p>
</div>
<div class="scroll" align="center">
    <a class="start" href="#start"><i class="fa fa-angle-down"></i></a>
</div>
{% endblock %}

{% block content %}
<section class="categories">
    <div class="container">
        <div class="row">
            <h3 class="title">Preparate</h3>
            <div class="separator"></div>
            <div class="col-md-4">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='pizza-craiova') }}">PIZZA</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='pizza-craiova') }}"><img src="{{ url_for('static', filename='assets/images/home/pizza-myway.jpg') }}" alt="Pizza MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='salate') }}">SALATE</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='salate') }}"><img src="{{ url_for('static', filename='assets/images/home/salate-pizza-myway.jpg') }}" alt="Salate Pizza MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='desert') }}">DESERT</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='desert') }}"><img src="{{ url_for('static', filename='assets/images/home/desert-myway.jpg') }}" alt="Desert MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='paste') }}">PASTE &amp; SANDWICH-URI</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='paste') }}"><img class="img-item2" src="{{ url_for('static', filename='assets/images/home/paste-sandwich-myway.jpg') }}" alt="Paste si Sandwich-uri MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='catering-myway-craiova') }}">Catering</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='catering-myway-craiova') }}"><img class="img-item2" src="{{ url_for('static', filename='assets/images/home/catering-myway.jpg') }}" alt="Catering MyWay"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="start" class="welcome">
    <div class="container">
        <div class="row">
            <h3 class="title">Pizza &amp; Catering</h3>
            <div class="separator"></div>
            <div class="col-md-8">
                <p>Pe semne ca iti este foame, nu? </p>
                <p>Te invitam atunci sa intri in minunata lume gastronomica.</p>
                <p>Realizate din ingrediente proaspete si naturale atent selectionate preparatele noastre sunt gatite dupa retete traditionale.</p>
                <p>Poti opta intre pizza, salate, paste, desert  dar si alte preparate special alese de tine si pregatite de noi  prin intermediul serviciului de catering.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/images/home/pizza-myway-craiova.png') }}" alt=""/>
            </div>
        </div>
    </div>
</section>

<section class="offers">
    <div class="container">
        <div class="row">
            <h3 class="title">Oferte</h3>
            <div class="separator"></div>
            <div class="col-md-4">
                <div class="thumbnail offer-item item1">
                    <h3 class="slice-offers"><img src="{{ url_for('static', filename='assets/images/home/ppp.png') }}" alt=""/></h3>
                    <p class="text1">5 Pizza + 1 Gratis (32cm)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail offer-item item2">
                    <h3 class="slice-offers"><img src="{{ url_for('static', filename='assets/images/home/ppp.png') }}" alt=""/></h3>
                    <p class="text2">4 Pizza + 1 Gratis (28cm)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail offer-item item4">
                    <h3 class="slice-offers"><img src="{{ url_for('static', filename='assets/images/home/ppp.png') }}" alt=""/><img style="max-width: 44px;margin-left: 10px;" src="{{ url_for('static', filename='assets/images/home/WEB-Doza_Coke_Regular-1200x1200px.png') }}" alt=""/></h3>
                    <p class="text4">2 Pizza + 1 doza Coca cola</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="boxes">
    <div class="container">
        <div class="row">
            <h3 class="title-boxes">Beneficii</h3>
            <div class="separator"></div>
            <div id="show-icon1">
                <div class="col-md-4 title1" id="box1">
                    <h3>Ingrediente proaspete</h3>
                </div>
                <div id="content1" class="col-md-4 content box1-content">
                    <p>Preparetele noastre sunt realizate din ingrediente proaspete ce le dau un gust desavarsit de bun.</p>
                </div>
            </div>
            <div id="icon1" class="col-md-4 icon">
                <img src="{{ url_for('static', filename='assets/images/home/ingrediente-naturale-icon.png') }}" alt="ingrediente naturale pizza myway"/>
            </div>
            <div class="clear"></div>
            <div id="icon2" class="col-md-4 icon">
                <img src="{{ url_for('static', filename='assets/images/home/livrare-rapida-icon.png') }}" alt="livrare rapida pizza myway"/>
            </div>
            <div id="show-icon2">
                <div id="box2" class="col-md-4 title1" >
                    <h3>Livrare rapida</h3>
                </div>
                <div id="content2" class="col-md-4 content box2-content">
                    <p>MyWay livreaza rapid la domiciliu si la locul de munca variate sortimente de mancare: pizza, salate, paste, deserturi si alte preparate realizate de noi  prin intermediul serviciului de catering.</p>
                </div>
            </div>
            <div class="clear"></div>
            <div id="show-icon3">
                <div class="col-md-4 title1" id="box3">
                    <h3>Retete traditionale</h3>
                </div>
                <div id="content3" class="col-md-4 content box3-content">
                    <p>Ingredientele atent selectionate sunt preparate dupa retete traditionale , pentru a avea acel gust unic si inconfundabil menit sa iti incante papilele gustative.</p>
                </div>
            </div>
            <div id="icon3" class="col-md-4 icon">
                <img src="{{ url_for('static', filename='assets/images/home/retete-traditionale-icon.png') }}" alt="retete traditionale pizza myway"/>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</section>
{% endblock %}
