{% extends 'base.html' %}

{% block title %}
    {% if category_title %}{{ category_title }} - {% endif %}Pizza MyWay Craiova
{% endblock %}

{% block header_class %}about{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fancybox/jquery.fancybox.css') }}">
{% endblock %}

{% block content %}
<section class="pizza">
    <div class="container">
        <div class="row">
            <h3 class="title">{{ category_title }}</h3>
            <div class="col-md-12">
                <p>Preparata dupa retete traditionale, pizza MyWay iti pune la dispozitie o gama variata de sortimente din care poti alege ceva pe gustul tau. Ingredientele proaspete si diverse iti rasfata papilele gustative cu arome atent selectionate pentru a-ti oferi o masa bogata in nutrienti si savuroasa pe deasupra.
                    Pe langa produse de calitate, pizza MyWay vine in intampinarea clientilor cu o multime de oferte si promotii, menite sa le ofere acestora o experienta inedita.
                </p>
            </div>
            <div class="clear"></div>
            <div style="margin-top: 20px;" class="separator"></div>
            <div class="clear"></div>
            <div id="32cm">

                {% for product in products %}
                    {% set animation = 'fadeInRight' if loop.index % 2 == 0 else 'fadeInLeft' %}
                    {% set dimensiune = "32cm" %}
                    {% set greutate_html = '<span class="pull-left">Greutate <b style="color: #B42C07;">' + product.gr + 'gr</b> </span>' %}

                    {% if product.id == 119 or product.id == 164 %}
                        {% set dimensiune = "40x60cm" %}
                        {% set greutate_html = '' %}
                    {% elif product.id == 121 or product.id == 165 %}
                        {% set dimensiune = "40cm" %}
                    {% endif %}

                    <div class="col-md-6 product animated {{ animation }}" data-animate="{{ animation }}">
                        <div>
                            <div class="col-sm-3 pad4">
                                <img class="img-responsive" src="{{ url_for('static', filename='assets/images/produse/' + product.poza) }}" alt="{{ product.titlu }}"/>
                            </div>
                            <div class="col-sm-8 caption">
                                <h5 class="title-product">
                                    <span class="title">{{ product.titlu }}</span><span class="visible-xs"></span>
                                    <span class="price pull-right">{{ product.pret }} lei</span><div class="clear"></div>
                                    <span class="price">
                                        {{ greutate_html|safe }}<span class="visible-xs"></span>
                                        <span class="pull-right">Dimensiune <b style="color: #B42C07;">{{ dimensiune }}</b></span>
                                    </span>
                                    <div class="clear"></div>
                                    <span class="ingrediente">{{ product.descriere }}</span>
                                </h5>
                                <button class="btn btn-sm btn-danger add-to-cart pull-right"
                                    data-id="{{ product.id }}"
                                    data-name="{{ product.titlu }}"
                                    data-price="{{ product.pret }}"
                                    data-image="{{ product.poza }}">
                                    <i class="fa fa-shopping-cart"></i> Adauga in cos
                                </button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 %}
                        <div class="clear"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="diverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="diverse">
                    <h3 class="title">Diverse</h3>
                    <div class="separator"></div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Ketchup Picant <span class="pull-right">3 lei</span></li>
                                <li class="list-group-item">Mozzarella <span class="pull-right">3 lei</span></li>
                                <li class="list-group-item">Ulei picant 30ml<span class="pull-right">3 lei</span></li>
                                <li class="list-group-item">Topping la alegere <span class="pull-right">5 lei</span></li>
                                <li class="list-group-item">Topping sos usturoi <span class="pull-right">3 lei</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Ketchup Dulce/Picant <span class="pull-right">3 lei</span></li>
                                <li class="list-group-item">Sos usturoi <span class="pull-right">3 lei</span></li>
                                <li class="list-group-item">Topping cascaval <span class="pull-right">4 lei</span></li>
                                <li class="list-group-item">Ou <span class="pull-right">3 lei</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="diverse">
                    <h3 class="title">Bauturi</h3>
                    <div class="separator"></div>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-12 col-xs-12">
                            <ul class="list-group">
                                <li class="list-group-item">URSUS 0.5L<span class="pull-right">8 lei</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="categories">
    <div class="container">
        <div class="row">
            <h3 class="title">Preparate similare</h3>
            <div class="separator"></div>
            <div class="col-md-3">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='salate') }}">SALATE</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='salate') }}"><img src="{{ url_for('static', filename='assets/images/home/salate-pizza-myway.jpg') }}" alt="Salate pizza MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='desert') }}">DESERT</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='desert') }}"><img src="{{ url_for('static', filename='assets/images/home/desert-myway.jpg') }}" alt="Desert My Way"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='paste') }}">Paste</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='paste') }}"><img class="img-item2" src="{{ url_for('static', filename='assets/images/home/paste-sandwich-myway.jpg') }}" alt="Paste Sandwich MyWay"/></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <h3><a href="{{ url_for('category', category_name='catering-myway-craiova') }}">Catering</a></h3>
                    <div class="separator"></div>
                    <div class="thumbnail">
                        <a href="{{ url_for('category', category_name='catering-myway-craiova') }}"><img class="img-item2" src="{{ url_for('static', filename='assets/images/home/catering-myway.jpg') }}" alt="Catering My Way"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.add-to-cart').click(function() {
            var id = $(this).data('id');
            var name = $(this).data('name');
            var price = $(this).data('price');
            var image = $(this).data('image');

            $.post('/api/cart', {
                action: 'add',
                id: id,
                name: name,
                price: price,
                image: image,
                quantity: 1
            }, function(response) {
                if(response.status === 'success') {
                    alert('Produsul a fost adaugat in cos!');
                    if(response.cart_count !== undefined) {
                        $('.cart-count-badge').text(response.cart_count);
                    }
                } else {
                    alert('Eroare: ' + response.message);
                }
            }, 'json').fail(function(xhr, status, error) {
                console.error("Cart error:", xhr.responseText);
                alert('Eroare la adaugarea in cos. Va rugam incercati din nou.');
            });
        });

        $(".fancybox-thumb").fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            helpers: {
                title: {
                    type: 'outside'
                },
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("body").on("click", "#show-28", function () {
            $("#32cm").fadeOut();
            $("#28cm").fadeIn();
            $("#show-28").removeClass("btn-danger");
            $("#show-28").addClass("btn-primary");
            $("#show-32").removeClass("btn-primary");
            $("#show-32").addClass("btn-danger");
        });
        $("body").on("click", "#show-32", function () {
            $("#28cm").fadeOut();
            $("#32cm").fadeIn();
            $("#show-32").addClass("btn-primary");
            $("#show-32").removeClass("btn-danger");
            $("#show-28").addClass("btn-danger");
            $("#show-28").removeClass("btn-primary");
        });
    });
</script>
{% endblock %}
